<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>

<h2> Number of products availiable </h2>
  <div>
   <strong> <%= @number_of_products %> </strong> 
  </div>
<h2> Number of products availiable </h2>
  <div>
    <strong> <%= @number_of_categories %> </strong>
  </div>
